 <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="android-header mdl-layout__header mdl-layout__header--waterfall">

        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <a href="/"><img class="android-logo-image" src="/img/logo.png"></a>
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>

          <!-- Navigation -->
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">About</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/blog/">Blog</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/partners/">Partners</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/gallery/">Gallery</a>
            </nav>
          </div>
          <span class="android-mobile-title mdl-layout-title">
            <img class="android-logo-image" src="/img/logo.png">
          </span>
          <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li class="mdl-menu__item"><a href="https://www.android.com/intl/en_us/history/#/">Android History</a></li>
          </ul>
        </div>
      </div>

      <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="android-logo-image" src="/img/logo-white.png">
        </span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">About</a>
          <a class="mdl-navigation__link" href="/blog/">Blog</a>
          <a class="mdl-navigation__link" href="/partners/">Partners</a>
          <a class="mdl-navigation__link" href="/gallery/">Gallery</a>

          <div class="android-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">Versions</span>
          <a class="mdl-navigation__link" href="https://www.android.com/intl/en_us/history/#/">Android history</a>
          <div class="android-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">Resources</span>
          <a class="mdl-navigation__link" href="https://github.com/eu-app16">Eu-App16 on GitHub</a>
          <div class="android-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">For developers</span>
          <a class="mdl-navigation__link" href="https://developer.android.com/guide/index.html">App developer resources</a>
          <a class="mdl-navigation__link" href="https://source.android.com/">Android Open Source Project</a>
          <a class="mdl-navigation__link" href="https://developer.android.com/studio/index.html">Android SDK</a>
        </nav>
      </div>
